.accordion {
    .accordion-item {
        border: none;
    }

    .accordion-button {
        // Icône Bootstrap
        padding-right: 40px;

        // Masquer la flèche par défaut de Bootstrap
        &::after {
            display: none;
        }

        i {
            transition: $trans;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:focus {
            box-shadow: none !important;
            outline: none !important;
        }
    }

    // Boucle pour générer toutes les variantes
    @each $name, $color in $theme-colors {
        &.color#{$name} {

            // Border sur tous les headers sauf le premier
            .accordion-item:not(:first-child) .accordion-header {
                border-top: 1px solid rgba($color, 0.4);
            }

            // Accordion FERMÉ : titre et icône en couleur
            .accordion-button.collapsed {
                span, i {
                    color: $color !important;
                    transition: $trans;
                
                }
            }

            // Accordion OUVERT : background en couleur, titre et icône en blanc
            .accordion-button:not(.collapsed) {
                background-color: $color !important;
                transition: $trans;

                span, i {
                    color: $white !important;
                    transition: $trans;
                }

                i {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    // Exception pour colorSuccess et colorWarning : texte en DARK quand ouvert
    &.colorSuccess,
    &.colorWarning {
        .accordion-button:not(.collapsed) {
            span, i {
                color: $dark !important;
            }
        }
    }
}

.accordion-item:nth-child(2) .accordion-body {
    background-color: $white;
}

.accordion-item:nth-child(2) .accordion-body,
.accordion-item:nth-child(2) .accordion-body * {
    color: $text-dark !important;}