blockquote{
    border-radius: 0 !important;
    padding: $border-radius-lg;
    background-color: $black;
    color: $primary !important;
    margin: 16px 0;
    border-left: 4px solid $primary;
    p{
        color: inherit;
    }
    *{
        &:last-child{
            margin-bottom: 0;
        }
    }
    // Boucle pour générer toutes les variantes de couleur
    @each $name, $color in $theme-colors {
        &.color#{$name} {
            color: $color !important;
            border-left-color: $color;

        }
    }

}
