.box {
    padding: 32px;
    border: 1px solid $borderU;
    border-radius: $border-radius-lg;
    background-color: $dark;

    &.coloredGreen {
        background-color: $green;
        border-color: $green
    }

    &.coloredDark {
        border-color: $dark !important;
    }

    &.withImage {
        position: relative;
        border: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;

        &:after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: "";
        }

        .boxImg {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            filter: grayscale(100%);
            height: 100%;
            opacity: 0.8;
        }

        .quote {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 20px 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            * {
                font-weight: 600;
                color: $white;
                line-height: 1.25;
                font-family: serif;
                font-family: Sen;
                font-size: 32px;
                text-align: center;
                margin: 0 auto;
                max-width: 640px;
            }
        }
    }
}

.box {
    &.withImage {
        // Boucle pour générer toutes les variantes
        @each $name, $color in $theme-colors {
            &.image#{$name} {
                &::after {
                    background-color: rgba($color, 0.2);
                }
            }
        }
    }
}

.infraBox,
.box {
    // Utilisation de la map globale
    @include color-variants-simple($theme-colors);
}

.infraBox {
    padding: 24px 16px;
    border-radius: $border-radius-lg;
    background-color: $black;
    > *:last-child{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        
    }
}



.box{
    // Variantes de couleur pour les tickets avec hover effect
    @each $name, $color in $theme-colors {
        &.color#{$name} .ticket {

            &:hover{
                background-color: $color !important;
                .textToAdjust {
                    color: $white !important;
                }

                .bgToAdjust {
                    background-color: $white !important;
                }
                .btn{
                    color: $color !important
                }

            }
        }
    }
}
.ticket{
    cursor: pointer;
}
.textToAdjust,
.bgToAdjust, 
.box,
.ticket{
    transition: $trans;
}