.box {
    padding: 32px;
    border: 1px solid $borderU;
    border-radius: 16px;
    background-color: $dark;

    &.coloredGreen {
        background-color: $green;
        border-color: $green
    }

    &.coloredDark {
        border-color: $dark !important;
    }

    &.withImage {
        position: relative;
        border: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;

        &:after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            content: "";
        }

        .boxImg {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            filter: grayscale(100%);
            height: 100%;
            opacity: 0.8;
        }

        .quote {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 20px 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            * {
                font-weight: 600;
                color: white;
                line-height: 1.25;
                font-family: serif;
                font-family: Sen;
                font-size: 32px;
                text-align: center;
                margin: 0 auto;
                max-width: 640px;
            }
        }
    }
}

.box {
    &.withImage {
        // Map des couleurs
        $image-colors: (
            'Primary': $primary,
            'Danger': $danger,
            'Orange': $orange,
            'Purple': $purple,
            'Warning': $warning,
            'Teal': $teal,
            'Indigo': $indigo,
            'Cyan': $cyan,
            'Success': $green,
        );

    // Boucle pour générer toutes les variantes
    @each $name, $color in $image-colors {
        &.image#{$name} {
            &::after {
                background-color: rgba($color, 0.2);
            }
        }
    }
}
}

.infraBox,
.box {
    // Map des couleurs
    $box-colors: (
        'Primary' : $primary,
        'Danger'  : $danger,
        'Orange'  : $orange,
        'Purple'  : $purple,
        'Warning' : $warning,
        'Teal'    : $teal,
        'Indigo'  : $indigo,
        'Cyan'    : $cyan,
        'Success' : $green,
        'Info'    : $info
    );
    
    // Boucle pour générer toutes les variantes
    @each $name, $color in $box-colors {
        &.color#{$name} {
            .textToAdjust {
                color: $color !important;
            }
            
            .bgToAdjust {
                background-color: $color !important;
            }
        }
    }
}

.infraBox {
    padding: 24px 16px;
    border-radius: 16px;
    background-color: black;
    > *:last-child{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        
    }
}



.box{
    // Map des couleurs
    $box-colors: (
        'Primary' : $primary,
        'Danger'  : $danger,
        'Orange'  : $orange,
        'Purple'  : $purple,
        'Warning' : $warning,
        'Teal'    : $teal,
        'Indigo'  : $indigo,
        'Cyan'    : $cyan,
        'Success' : $green,
        'Info'    : $info
    );
    
    // Boucle pour générer toutes les variantes
    @each $name, $color in $box-colors {
        &.color#{$name} .ticket {

            &:hover{
                background-color: $color !important;
                .textToAdjust {
                    color: white !important;
                }
                
                .bgToAdjust {
                    background-color: white !important;
                }
                .btn{
                    color: $color !important
                }

            }
        }
    }
}
.ticket{
    cursor: pointer;
}
.textToAdjust,
.bgToAdjust, 
.box,
.ticket{
    transition: .3s all $cubiTr;
}