.blocTitle {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 24px;

    // Variante avec chiffre
    &.withFigure {
        display: flex;
        align-items: center;
        justify-content: start;

        span {
            margin-right: 16px;
            font-size: 74px;
            font-family: $font-family-base;
            font-weight: 600;
        }

        // Générer les couleurs pour le span
        @each $name, $color in $theme-colors {
            &.color#{$name} {
                span {
                    color: $color;
                }
            }
        }
    }

    // Variante avec separator (transformé en :after)
    &.withSeparator {
        &:after {
            display: block;
            content: "";
            height: 5px;
            width: 48px;
            margin-top: 12px;
            
        }
        &.center{
            text-align: center;
            &:after{
                margin-left: auto;
                margin-right: auto;
            }
        }

        // Générer les couleurs pour le :after
        @each $name, $color in $theme-colors {
            &.color#{$name} {
                &:after {
                    background-color: $color;
                }
            }
        }
    }

    // Variante avec icône
    &.withIcon {
        display: flex;
        align-items: center;
        justify-content: start;

        i {
            font-size: 48px;
            margin-right: 16px;
        }

        // Générer les couleurs pour l'icône
        @each $name, $color in $theme-colors {
            &.color#{$name} {
                i {
                    color: $color;
                }
            }
        }
    }
}
