:root {
    --circle-size: 36px;
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
}




.stepper {
    border-radius: $border-radius-lg;
    padding: 16px;
    display: inline-block;
    background-color: $black;

    .stepperTitle {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 16px;
        color: $primary;
    }

    .stepperDesc {
        color: $white;
        font-size: clamp(0.85rem, 2vw, 1rem);
        padding-left: var(--spacing);
        padding-right: var(--spacing);
    }

.olStepper {
    display: flex;
    counter-reset: stepper-counter;

    .stepperItem {
        counter-increment: stepper-counter;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: start;
        &:before {
            // Styles communs
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $primary;
            color: $white;
            margin: 0 auto ;
            font-weight: 600;
            font-size: 18px;

            // PAR DÉFAUT = icône (pour les items AVANT .active)
            content: "\ea05";
            font-family: Nucleo;
        }
        &:not(:last-child){
            &:after{
                display: block;
                content: "";
                height: 2px;
                min-width: 40px;
                background-color: $primary;
            }

        }
        span{
            display: none;
        }

        // RESET pour .active et ceux APRÈS : ils reprennent le compteur
        &.active:before,
        &.active ~ .stepperItem:before {
            content: counter(stepper-counter);
            font-family: $font-family-base;
            
        }

        // Style pour .active
        &.active{
            &:before {
                color: $primary;
                position: relative;
                z-index: 1;
                width: 26px;
                height: 26px;
                background-color: $white;
            }
            position: relative;
            span{
                position: absolute;
                z-index: 0;
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid $primary;
                background-color: $black;
                left: -7px;
            }
                        &:after{
                background-color: $disabledColor !important;
            }
        }

        // Style pour APRÈS .active
        &.active ~ .stepperItem{
            &:before {
                background-color: $disabledColor;
                color: white;
                font-weight: 400 !important;
            }
            &:after{
                background-color: $disabledColor !important;
            }
        }
    }
}

    &.vertical {
        .olStepper {
            display: block;

            .stepperItem {
                display: block;
                position: relative;
                padding-left: 62px;
                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 40px;

                    // Barre verticale
                    &:after {
                        content: "";
                        position: absolute;
                        left: calc(var(--circle-size) / 2 - 1px);
                        top: calc(var(--circle-size) + 4px); // Marge de 4px en haut
                        width: 2px;
                        height: calc(100% - 12px); // Réduit de 8px (4px haut + 4px bas)
                        background-color: $white;
                        order: 0;
                    }
                }

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;

                }

                .stepperTitle {
                    padding-top: 6px;
                }

                .stepperDesc {
                    padding: 0;
                }
            }
        }
    }

    // Boucle pour générer toutes les variantes
    @each $name, $color in $theme-colors {
        &.color#{$name} {
            .stepperItem {
                &:before {
                    color: $color; // Couleur du texte
                }

                .stepperTitle {
                    color: $color;

                }

                &.active {
                    &:before {
                        background-color: $color;
                        color: $white !important
                    }

                    .stepperDesc {
                        color: $white
                    }

                    .stepperTitle {
                        color: $white;
                    }
                }
            }
        }
    }

}