// Variables personnalisées (AVANT l'import Bootstrap)
$green       : #01FF88;
$success     : $green;
$red         : #FF0066;
$danger      : $red;
$orange      :#ffc107;
$warning     : $orange;
$purple      : #6f42c1;
$teal        : #20c997;
$priceColor  : #428161;
$blue        : #04a8ff;
$primary     : $blue;
$info        : #72d2c2;
$light       : #f1f3f5;
// $dark        : rgba(18, 27, 54, 1);
$dark        : #0E152A;
// $dark        : #0A0F1E;

// Couleurs de base
$white       : #ffffff;
$black       : #000000;
$footer-bg   : #113A51;
$text-dark   : #212121;
$disabledColor: #898989;

$cubiTr: cubic-bezier(0.4, 0, 0.2, 1);
$trans: .3s all $cubiTr;
$body-color: rgb(252, 251, 248);
$link-hover-color: $green;
$borderU: rgba(255, 255, 255, 0.075);
$font-family-base: 'Sen', sans-serif;
$headings-font-family: 'dinBold', sans-serif;
$headings-font-weight: normal;
$btn-border-radius: 8px;
$btn-border-radius-sm: 6px;

// Border radius
$border-radius-lg: 16px;
$border-radius-md: 8px;

// .card
$card-border-width: 0px;
$card-border-color: $borderU;
$card-border-radius: $border-radius-lg;

//accordion
$accordion-bg: $black;
$accordion-border-radius: 10px;

//tabs
$nav-tabs-border-radius: 0px;



// Map des couleurs globale
$theme-colors: (
    'Primary' : $primary,
    'Danger'  : $danger,
    'Orange'  : $orange,
    'Purple'  : $purple,
    'Warning' : $warning,
    'Teal'    : $teal,
    'Success' : $green,
    'Info'    : $info
);