// FONTS
@font-face {
    font-family: 'dinBold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../fonts/DINAlternate-Bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

// IMPORTS
@import 'scss/myScss/variables';
@import 'scss/myScss/utilities';
@import 'scss/bootstrap/bootstrap';
@import 'scss/myScss/box';
@import 'scss/myScss/accordion';
@import 'scss/myScss/card';
@import 'scss/myScss/tabs';
@import 'scss/myScss/header';
@import 'scss/myScss/offcanvas';
@import 'scss/myScss/stepper';
@import 'scss/myScss/footer';
@import 'scss/myScss/form';
@import 'scss/myScss/select2';
@import 'scss/myScss/blog';
@import 'scss/myScss/blockquote';
@import 'scss/myScss/sliderLogo';
@import 'scss/myScss/headings';
@import 'scss/myScss/iconsBox';


body {
    padding-top: 96px;
    background-color: black;
}

.separator {
    display: block;
    height: 6px;
    width: 40px;
    margin-bottom: 24px;
}

.headingWithIcon {
    display: flex;
    align-items: center;
    justify-content: start;

    i {
        font-size: 48px;
        margin-right: 16px;

    }

    line-height: 1.15;
    margin-bottom: 24px;
}

.portfolioThumbnail {
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
        line-height: 1.2;
        font-size: 28px;
        font-weight: 600;
        margin: 0;
        position: relative;
        z-index: 5;
        transition: $trans;
        text-align: center;
        color: white;
    }

    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    position: relative;
    overflow: hidden;
    transition: $trans;
    cursor: pointer;

    &:after {
        transition: $trans;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, .25);
    }

    // Boucle pour générer toutes les variantes
    @each $name, $color in $theme-colors {
        &.color#{$name} {

            &.active,
            &:hover {
                * {
                    color: white
                }

                &:after {
                    background-color: $color;

                }
            }
        }
    }

    // Exception pour colorSuccess et colorWarning : texte en dark
    &.colorSuccess,
    &.colorWarning {
        &:hover>* {
            color: $dark !important;
            opacity: 1;
        }
    }
}

.subMenuTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.15;
}

.badgeBox {
    display: flex;
    flex-wrap: wrap;

    .badge {
        margin-inline-end: 8px;
    }
}

#topPage {
    height: 120px;

    h1 {
        font-size: 48px;
        margin: 0 auto;
        color: white;
        line-height: 1.2;
        max-width: 700px;
    }
}

ul.withCaret {
    margin: 0;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: start;
        line-height: 1.2;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &:before {
            content: "\eae1";
            font-family: 'Nucleo' !important;
            font-style: normal;
            font-weight: 400 !important;
            font-variant: normal;
            position: relative;
            left: -4px;
            margin-right: 2px;
        }
    }
}

pre {
    background-color: $black;
    border: 1px solid rgba(#d63384, 1);
    border-radius: $border-radius-md;

    * {
        color: white !important
    }
}

// ============================================
// CENTRALIZED BASIX ICONS MANAGEMENT
// ============================================

// Icon variables - easy to modify
$icon-priority-low: "\ea08";   // basix-priority-low (chevron down)
$icon-arrow-right: "\ea0c";    // basix-arrow-right-1
$icon-check: "\ea07";          // basix-check-2
$icon-xmark: "\ea06";          // basix-xmark

// Font-size variables
$icon-size-accordion: 16px;
$icon-size-stepper: 16px;

// === 1. ACCORDIONS ===
button.accordion-button {
    i.icon {
        display: none;
    }

    &:after {
        content: $icon-priority-low;
        font-family: 'basix' !important;
        font-style: normal;
        font-weight: normal;
        font-size: $icon-size-accordion;
        margin-left: auto;
        transition: transform 0.3s ease;
    }

    // Rotation à l'ouverture
    &:not(.collapsed):after {
        transform: rotate(180deg);
    }
}

// === 2. BLOG VOIR PLUS ===
span.voirPlus {
    i.icon {
        display: none;
    }

    &:after {
        content: $icon-arrow-right;
        font-family: 'basix' !important;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin-left: 8px;
    }
}

// === 3. STEPPER ===
.stepper .olStepper .stepperItem:before {
    content: $icon-check;
    font-family: 'basix' !important;
    font-style: normal;
    font-weight: normal;
    font-size: $icon-size-stepper;
}

// === 4. SELECT2 ARROW ===
.select2-container--default .select2-selection--single .select2-selection__arrow {
    b {
        display: none;
    }

    &:before {
        content: $icon-priority-low;
        font-family: 'basix' !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// === 5. SELECT2 CLEAR ===
.select2-container--default .select2-selection--single .select2-selection__clear {
    &:before {
        content: $icon-xmark;
        font-family: 'basix' !important;
        font-style: normal;
        font-weight: normal;
        font-size: 16px !important
    }
}
