// FONTS
@font-face {
    font-family: 'dinBold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../fonts/DINAlternate-Bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

// IMPORTS
@import 'scss/myScss/variables';
@import 'scss/myScss/mixins';
@import 'scss/myScss/utilities';
@import 'scss/myScss/icons';
@import 'scss/bootstrap/bootstrap';
@import 'scss/myScss/box';
@import 'scss/myScss/accordion';
@import 'scss/myScss/card';
@import 'scss/myScss/tabs';
@import 'scss/myScss/header';
@import 'scss/myScss/offcanvas';
@import 'scss/myScss/stepper';
@import 'scss/myScss/footer';
@import 'scss/myScss/form';
@import 'scss/myScss/blog';
@import 'scss/myScss/blockquote';
@import 'scss/myScss/sliderLogo';

body {
    padding-top: 105px;
    background-color: black;
}

.separator {
    display: block;
    height: 6px;
    width: 40px;
    margin-bottom: 24px;
}

.headingWithIcon {
    display: flex;
    align-items: center;
    justify-content: start;

    i {
        font-size: 48px;
        margin-right: 16px;

    }

    line-height: 1.15;
    margin-bottom: 24px;
}

.radioZone {
    .form-check {
        padding-left: 8px;
    }

    label {
        div {
            transition: $trans;
            border-radius: 16px;
            cursor: pointer;
        }
    }

    input {
        &:checked {
            +label .p-2 {
                width: 30px;
            }
        }
    }
}

.portfolioThumbnail {
    padding: 24px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
        line-height: 1.2;
        font-size: 28px;
        font-weight: 600;
        margin: 0;
        position: relative;
        z-index: 5;
        transition: $trans;
        text-align: center;
        color: white;
    }

    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    position: relative;
    overflow: hidden;
    transition: $trans;
    cursor: pointer;

    &:after {
        transition: $trans;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, .25);
    }

    // Boucle pour générer toutes les variantes
    @each $name, $color in $theme-colors {
        &.color#{$name} {

            &.active,
            &:hover {
                * {
                    color: white
                }

                &:after {
                    background-color: $color;

                }
            }
        }
    }

    // Exception pour colorSuccess et colorWarning : texte en dark
    &.colorSuccess,
    &.colorWarning {
        &:hover>* {
            color: $dark !important;
            opacity: 1;
        }
    }
}

.subMenuTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.15;
}

.badgeBox {
    display: flex;
    flex-wrap: wrap;

    .badge {
        margin-inline-end: 8px;
    }
}

#topPage {
    height: 120px;

    h1 {
        font-size: 48px;
        margin: 0 auto;
        color: white;
        line-height: 1.2;
        max-width: 700px;
    }
}

ul.withCaret {
    margin: 0;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: start;
        line-height: 1.2;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &:before {
            content: "\f234";
            font-family: bootstrap-icons !important;
            font-style: normal;
            font-weight: 400 !important;
            font-variant: normal;
            position: relative;
            left: -4px;
            margin-right: 2px;
        }
    }
}

pre {
    background-color: $black;
    border: 1px solid rgba(#d63384, 1);
    border-radius: $border-radius-md;

    * {
        color: white !important
    }
}